In [3]:
import pandas as pd
from pathlib import Path

# 1. البحث عن مجلد المشروع الرئيسي 'data-work'
def get_project_root():
    curr = Path().resolve()
    # يصعد للأعلى حتى يجد المجلد الذي يحتوي على مجلد 'data'
    for parent in [curr] + list(curr.parents):
        if (parent / "data").exists():
            return parent
    return curr

ROOT_DIR = get_project_root()

# 2. تحديد مسار الملف بناءً على الجذر
FILE_PATH = ROOT_DIR / "data" / "processed" / "orders_clean.parquet"

# 3. القراءة والعرض
if FILE_PATH.exists():
    df = pd.read_parquet(FILE_PATH)
    print(f"✅ Data loaded! Shape: {df.shape}")
    display(df.head())
else:
    print(f"❌ Could not find the file at: {FILE_PATH}")

✅ Data loaded! Shape: (5, 9)

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A0001,0001,12.5,1.0,2025-12-01T10:05:00Z,Paid,paid,False,False
1,A0002,0002,8.0,2.0,2025-12-01T11:10:00Z,paid,paid,False,False
2,A0003,0003,NaN,1.0,2025-12-02T09:00:00Z,Refund,refund,True,False
3,A0004,0001,25.0,NaN,2025-12-03T14:30:00Z,PAID,paid,False,True
4,A0005,0004,100.0,1.0,not_a_date,paid,paid,False,False