In [1]:
import pandas as pd
from pathlib import Path

# 1. تحديد مكان المجلد الرئيسي للمشروع (data-work)
# سيبحث الكود عن المجلد الذي يحتوي على مجلد 'data' تلقائياً
def find_root():
    path = Path().resolve()
    for parent in [path] + list(path.parents):
        if (parent / "data").exists():
            return parent
    return path

ROOT = find_root()

# 2. تحديد مسار ملف orders.parquet
# تأكدي إذا كان الملف في مجلد processed أو raw
file_path = ROOT / "data" / "processed" / "orders_clean.parquet"

# 3. قراءة الملف وعرض البيانات
if file_path.exists():
    df = pd.read_parquet(file_path)
    print(f"✅ Loaded successfully! Total rows: {len(df)}")
    
    # عرض أول 5 صفوف بتنسيق النوت بوك الجميل
    display(df.head())
else:
    print(f"❌ File not found at: {file_path}")
    print("Check if you ran the processing scripts first!")

✅ Loaded successfully! Total rows: 5

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A0001,0001,12.5,1.0,2025-12-01T10:05:00Z,Paid,paid,False,False
1,A0002,0002,8.0,2.0,2025-12-01T11:10:00Z,paid,paid,False,False
2,A0003,0003,NaN,1.0,2025-12-02T09:00:00Z,Refund,refund,True,False
3,A0004,0001,25.0,NaN,2025-12-03T14:30:00Z,PAID,paid,False,True
4,A0005,0004,100.0,1.0,not_a_date,paid,paid,False,False