In [ ]:
from pathlib import Path
import pandas as pd


ROOT_DIR = Path().resolve().parents[1] 

FILE_PATH = ROOT_DIR / "data-work" / "data" / "processed" / "orders.parquet"

df = pd.read_parquet(FILE_PATH)
df.head()

  order_id user_id  amount  quantity                created_at    status
0    A4434    0021  479.46       6.0 2025-10-06 15:00:00+00:00  refunded
1    A0177    0677  124.64       4.0 2025-06-15 01:35:00+00:00  Refunded
2    A2972    0763     NaN       4.0 2025-11-14 23:05:00+00:00  Refunded
3    A2288    0197  397.26       7.0 2025-10-16 20:04:00+00:00      Paid
4    A3985    0460  374.25       1.0 2025-01-16 03:21:00+00:00   Pending