In [1]:
import pandas as pd
from pathlib import Path

def get_project_root():
    curr = Path().resolve()
    for parent in [curr] + list(curr.parents):
        if (parent / "data").exists():
            return parent
    return curr

ROOT_DIR = get_project_root()

FILE_PATH = ROOT_DIR / "data" / "processed" / "orders_clean.parquet"

if FILE_PATH.exists():
    df = pd.read_parquet(FILE_PATH)
    print( {df.shape})
    display(df.head())

{(5250, 9)}

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A4434,0021,479.46,6.0,2025-10-06T15:00:00Z,refunded,refund,False,False
1,A0177,0677,124.64,4.0,2025-06-15T01:35:00Z,Refunded,refund,False,False
2,A2972,0763,NaN,4.0,2025-11-14T23:05:00Z,Refunded,refund,True,False
3,A2288,0197,397.26,7.0,2025-10-16T20:04:00Z,Paid,paid,False,False
4,A3985,0460,374.25,1.0,2025-01-16T03:21:00Z,Pending,pending,False,False