In [5]:
from pathlib import Path
import pandas as pd


ROOT_DIR = Path().resolve().parents[1] 

FILE_PATH = ROOT_DIR / "data-work" / "data" / "processed" / "orders.parquet"

df = pd.read_parquet(FILE_PATH)
df.head()

  order_id user_id  amount  quantity                created_at  status
0    A0001    0001    12.5       1.0 2025-12-01 10:05:00+00:00    Paid
1    A0002    0002     8.0       2.0 2025-12-01 11:10:00+00:00    paid
2    A0003    0003     NaN       1.0 2025-12-02 09:00:00+00:00  Refund
3    A0004    0001    25.0       NaN 2025-12-03 14:30:00+00:00    PAID
4    A0005    0004   100.0       1.0                       NaT    paid