In [1]:
import pandas as pd
from pathlib import Path



def find_root():
    path = Path().resolve()
    for parent in [path] + list(path.parents):
        if (parent / "data").exists():
            return parent
    return path

ROOT = find_root()

file_path = ROOT / "data" / "processed" / "orders_clean.parquet"


if file_path.exists():
    df = pd.read_parquet(file_path)
    print( {len(df)})
    
    display(df.head())

{5250}

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A4434,0021,479.46,6.0,2025-10-06T15:00:00Z,refunded,refund,False,False
1,A0177,0677,124.64,4.0,2025-06-15T01:35:00Z,Refunded,refund,False,False
2,A2972,0763,NaN,4.0,2025-11-14T23:05:00Z,Refunded,refund,True,False
3,A2288,0197,397.26,7.0,2025-10-16T20:04:00Z,Paid,paid,False,False
4,A3985,0460,374.25,1.0,2025-01-16T03:21:00Z,Pending,pending,False,False

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5 non-null      string
 1   user_id         5 non-null      string
 2   amount          4 non-null      float64
 3   quantity        4 non-null      float64
 4   created_at      5 non-null      object
 5   status          5 non-null      object
 6   status_clean    5 non-null      object
 7   amount__isna    5 non-null      bool
 8   quantity__isna  5 non-null      bool
dtypes: bool(2), float64(2), object(3), string(2)
memory usage: 418.0+ bytes

In [3]:
df.describe()

           amount  quantity
count    4.000000      4.00
mean    36.375000      1.25
std     43.022039      0.50
min      8.000000      1.00
25%     11.375000      1.00
50%     18.750000      1.00
75%     43.750000      1.25
max    100.000000      2.00

In [8]:
df['user_id'].value_counts()

user_id
0001    2
0002    1
0003    1
0004    1
Name: count, dtype: Int64

In [5]:
df = pd.read_parquet(ROOT / "data" / "processed" / "orders_clean.parquet")

print("rows:", len(df), "cols:", len(df.columns))
print(df.dtypes.head(15))

missing = df.isna().sum().sort_values(ascending=False).head(10)
print(missing)

rows: 5250 cols: 9
order_id          string[python]
user_id           string[python]
amount                   float64
quantity                 float64
created_at                object
status                    object
status_clean              object
amount__isna                bool
quantity__isna              bool
dtype: object
quantity          534
status_clean      513
status            513
created_at        507
amount            495
order_id            0
user_id             0
amount__isna        0
quantity__isna      0
dtype: int64