In [12]:
import pandas as pd
from pathlib import Path



def find_root():
    path = Path().resolve()
    for parent in [path] + list(path.parents):
        if (parent / "data").exists():
            return parent
    return path

ROOT = find_root()

file_path = ROOT / "data" / "processed" / "orders_clean.parquet"


if file_path.exists():
    df = pd.read_parquet(file_path)
    print( {len(df)})
    
    display(df.head())

{5}

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna
0,A0001,0001,12.5,1.0,2025-12-01T10:05:00Z,Paid,paid,False,False
1,A0002,0002,8.0,2.0,2025-12-01T11:10:00Z,paid,paid,False,False
2,A0003,0003,NaN,1.0,2025-12-02T09:00:00Z,Refund,refund,True,False
3,A0004,0001,25.0,NaN,2025-12-03T14:30:00Z,PAID,paid,False,True
4,A0005,0004,100.0,1.0,not_a_date,paid,paid,False,False

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5 non-null      string
 1   user_id         5 non-null      string
 2   amount          4 non-null      float64
 3   quantity        4 non-null      float64
 4   created_at      5 non-null      object
 5   status          5 non-null      object
 6   status_clean    5 non-null      object
 7   amount__isna    5 non-null      bool
 8   quantity__isna  5 non-null      bool
dtypes: bool(2), float64(2), object(3), string(2)
memory usage: 418.0+ bytes

In [3]:
df.describe()

           amount  quantity
count    4.000000      4.00
mean    36.375000      1.25
std     43.022039      0.50
min      8.000000      1.00
25%     11.375000      1.00
50%     18.750000      1.00
75%     43.750000      1.25
max    100.000000      2.00

In [8]:
df['user_id'].value_counts()

user_id
0001    2
0002    1
0003    1
0004    1
Name: count, dtype: Int64

In [13]:
df = pd.read_parquet(DATA)

print("rows:", len(df), "cols:", len(df.columns))
print(df.dtypes.head(15))

missing = df.isna().sum().sort_values(ascending=False).head(10)
print(missing)

NameError: name 'DATA' is not defined