In [2]:
from pathlib import Path
import pandas as pd

# 1. Get the current directory of the notebook
current_dir = Path().resolve()

# 2. Find the project root (data-work)
# This loop goes up until it finds a folder named 'data-work'
root = current_dir
while root.name != "data-work" and root.parent != root:
    root = root.parent

# 3. Define the data path starting from the root
# Note: Since 'root' is already 'data-work', we don't repeat the name in the path
file_path = root / "data" / "processed" / "analytics_table.parquet"

# 4. Check existence and load
if file_path.exists():
    df = pd.read_parquet(file_path)
    print(f"✅ Success! Loaded table with {df.shape[0]} rows.")
    display(df.head()) # Using display() is better in notebooks
else:
    print(f"❌ File NOT found at: {file_path}")
    print(f"Current working directory: {current_dir}")

✅ Success! Loaded table with 5 rows.

,order_id,user_id,amount,quantity,created_at,status,status_clean,amount__isna,quantity__isna,date,year,month,dow,hour,country,signup_date,amount_winsor,amount__is_outlier
0,A0001,0001,12.5,1.0,2025-12-01 10:05:00+00:00,Paid,paid,False,False,2025-12-01,2025.0,2025-12,Monday,10.0,SA,2025-11-15,12.500,False
1,A0002,0002,8.0,2.0,2025-12-01 11:10:00+00:00,paid,paid,False,False,2025-12-01,2025.0,2025-12,Monday,11.0,SA,2025-11-20,8.135,False
2,A0003,0003,NaN,1.0,2025-12-02 09:00:00+00:00,Refund,refund,True,False,2025-12-02,2025.0,2025-12,Tuesday,9.0,AE,2025-11-22,NaN,False
3,A0004,0001,25.0,NaN,2025-12-03 14:30:00+00:00,PAID,paid,False,True,2025-12-03,2025.0,2025-12,Wednesday,14.0,SA,2025-11-15,25.000,False
4,A0005,0004,100.0,1.0,NaT,paid,paid,False,False,None,NaN,<NA>,None,NaN,SA,2025-11-25,97.750,True